[Desktop Entry]
Type=Application
Name=Scanner
Comment=Scanner Application
Icon=~/.local/share/icons/desktop-entries/scanner.png
# firefox with url to localhost:8100
Exec=firefox --no-remote --new-window http://localhost:8100
Terminal=false
StartupWMClass=Scanner
